
/* =Fonts
-------------------------------------------------------------- */
@font-face{font-family:'Arvo';font-style:normal;font-weight:400;src:url('../fonts/Arvo-Regular-webfont.eot');src:url('../fonts/Arvo-Regular-webfont.eot?damnyouie') format('eot'),url('../fonts/Arvo-Regular-webfont.woff') format('woff'),url('../fonts/Arvo-Regular-webfont.ttf') format('truetype'),url('../fonts/Arvo-Regular-webfont.svg#webfontau9vOdrl') format('svg')}
@font-face{font-family:'Arvo';font-style:italic;font-weight:400;src:url('../fonts/Arvo-Italic-webfont.eot');src:url('../fonts/Arvo-Italic-webfont.eot?damnyouie') format('eot'),url('../fonts/Arvo-Italic-webfont.woff') format('woff'),url('../fonts/Arvo-Italic-webfont.ttf') format('truetype'),url('../fonts/Arvo-Italic-webfont.svg#webfontvBl98OZ1') format('svg')}
@font-face{font-family:'Arvo';font-style:normal;font-weight:700;src:url('../fonts/Arvo-Bold-webfont.eot');src:url('../fonts/Arvo-Bold-webfont.eot?damnyouie') format('eot'),url('../fonts/Arvo-Bold-webfont.woff') format('woff'),url('../fonts/Arvo-Bold-webfont.ttf') format('truetype'),url('../fonts/Arvo-Bold-webfont.svg#webfontxi5Flt4Z') format('svg')}
@font-face {font-family: 'Museo-300';src: url('../fonts/2429BD_1_0.eot');src: url('../fonts/2429BD_1_0.eot?#iefix') format('embedded-opentype'),url('../fonts/2429BD_1_0.woff') format('woff'),url('../fonts/2429BD_1_0.ttf') format('truetype');}
@font-face {font-family: 'Museo-500';src: url('../fonts/2429BD_2_0.eot');src: url('../fonts/2429BD_2_0.eot?#iefix') format('embedded-opentype'),url('../fonts/2429BD_2_0.woff') format('woff'),url('../fonts/2429BD_2_0.ttf') format('truetype');}
@font-face {font-family: 'Museo-700';src: url('../fonts/2429BD_0_0.eot');src: url('../fonts/2429BD_0_0.eot?#iefix') format('embedded-opentype'),url('../fonts/2429BD_0_0.woff') format('woff'),url('../fonts/2429BD_0_0.ttf') format('truetype');}  


@import "bootstrap/bootstrap.less";
@import "bootstrap/responsive.less";

/*
.massive{font-size:83px;line-height:96px;letter-spacing:-3px}
.gigantic{font-size:68px;line-height:72px;letter-spacing:-2px}
.huge{font-size:52px;line-height:72px;letter-spacing:-1px}
.large{font-size:42px;line-height:48px;letter-spacing:0}
.big{font-size:32px;line-height:48px;letter-spacing:0}
.bigish{font-size:20px;line-height:24px;letter-spacing:0}
*/


/* =TO MOVE INTO RESPONSIVE DESIGN
-------------------------------------------------------------- */
.btn-well-large {
	font-size: 21px;
	line-height: 21px;
	padding: 12px 16px;
	
	.icon  {
		margin-top: 3px;
	}
}


/* =Header
-------------------------------------------------------------- */
h1.site-title {
	margin: 0;
}
h1.site-title  a {
	display: block;
	width: 250px;
	height: 75px;
	background: url('../images/logo.png');
	text-indent: -999px;
	overflow: hidden;
}

.menu-access-container {
	margin-top: 24px;
}


/* =Content
----------------------------------------------- */

.page-header {
	border-bottom: 4px solid @grayDarker;
	text-align: center;
	h1 {
		font-size: 54px;
		line-height: 54px;
	}
}


.hentry {
	margin: 0 0 1.5em;
}
.entry-title {
	a {
		color: @grayDarker;
	}
	a:hover {
		color: @linkColor;
		text-decoration: none;
	}
}
.entry-meta {
	clear: both;
	margin: 42px 0;
}
.entry-meta-left {
	margin-top: 8px;
}
.byline {
	display: none;
}
.single .byline,
.group-blog .byline {
	display: inline;
}
.entry-content,
.entry-summary {
	margin: 1.5em 0 0;
	font-family: @museo300FontFamily;
	font-size: 18px;
	line-height: 1.5;
	p {
		margin: 0 0 1.5em;
	}
}
.page-links {
	clear: both;
	margin: 0 0 1.5em;
}

article.sticky {
	background: @grayDarker;
	color: @white;
	padding: 12px 24px;
	.entry-title {
		a {
			color: @white;
		}
		a:hover {
			color: @linkColor;
		}
	}
}


ul li, 
ol li {
	line-height: 1.5;
}

/* =Blog-list
-------------------------------------------------------------- */
.blog-list {
	article {
		margin: 24px 0;
		.clearfix();
	}
	header, header h2, {
		margin: 0;
		padding: 0;
	}
	.date {
		font-size: 1.2em;
		line-height: 40px;
	}
	.entry-meta {
		margin: 6px 0 0 0;
	}
	p {
		margin: 0;
	}
}


/* =General
-------------------------------------------------------------- */
a[rel=tag] {
	text-decoration: none;

	span.label {
		margin-right: 5px;
	}
}



/* =Single
-------------------------------------------------------------- */
#extrabuttons {
	margin: 42px 0;
	text-align: center;
}


/* =Footer
-------------------------------------------------------------- */

footer#colophon {
	margin-top: 56px;
	padding-top: 32px;
	background: @grayDarker;
	color: @white;
	border-top: 12px solid #000;
	img#my-avatar {
		margin: 45px 16px 12px 0;
	}
}
.big-icons {
	float:left;
	width: 28px;
	height: 24px;
}
#skype {
	background: url('../images/icons.png') -80px -40px;
}
#phone {
	background: url('../images/icons.png') -160px -40px;
}

a.social_link {
	display: block;
	float:left;
	width: 32px;
	height: 32px;
	margin: 6px 12px 0 0;
	overflow:hidden;
}

a#linkedin {
	background: url('../images/icons.png') 0px 0;
}
a#facebook {
	background: url('../images/icons.png') -40px 0;
}
a#googleplus {
	background: url('../images/icons.png') -80px 0;
}
a#twitter {
	background: url('../images/icons.png') -120px 0;
}
a#tumblr {
	background: url('../images/icons.png') -160px 0;
}
a#youtube {
	background: url('../images/icons.png') -200px 0;
}
a#flickr {
	background: url('../images/icons.png') -240px 0;
}
a#github {
	background: url('../images/icons.png') -320px 0;
}

a.big-pdf-icon {
	display: block;
	width: 100px;
	height: 100px;
	background: url('../images/icons.png') 0 -80px;
}

/* =Shortcodes
-------------------------------------------------------------- */

/* ------- Box Styles ------- */

.gradient_box_middle{background:transparent url(../images/gradient_box_middle.gif) repeat-y scroll 0 0;width:625px;}
.gradient_box_bottom{background:transparent url(../images/gradient_box_bottom.gif) no-repeat scroll 0 bottom; padding:26px;position:relative;}
.gradient_box_top{background:transparent url(../images/gradient_box_top.gif) no-repeat scroll 0 top;}

.fancy_box,.download_box,.warning_box,.info_box,.note_box{clear:both;padding:20px;margin: 20px 0px;}
.download_box,.warning_box,.info_box,.note_box{padding-left:55px;background:#eee;padding-bottom:25px;
padding-top:20px;}
.fancy_box{
	background:#F9F9F9 url(../images/form-gradient.gif) repeat-x scroll 0 -7px;
	border:1px solid #E0E0E0;}
.info_box{
	background:#bfe4f9 url(../images/icons/info.png) no-repeat scroll 10px 14px;
	border:1px solid #68a2cf;
	color:#2e6093;}
.warning_box{
	background:#ffcccc url(../images/icons/stop.png) no-repeat scroll 10px 15px;
	border:1px solid #ff9999;
	color:#c31b00;}
.download_box{
	background:#dee3ab url(../images/icons/down_alt.png) no-repeat scroll 10px 15px;
	border:1px solid #a3c159;
	color:#5e6f33;}
.note_box{
	background:#fdebae url(../images/icons/notebook.png) no-repeat scroll 10px 15px;
	border:1px solid #e6c555;
	color:#9e660d;}

.fancy_header span{
	background-color:#F9F9F9;
	color:#888;
	font-size:12px;
	letter-spacing:1px;
	line-height:12px;
	padding-right:5px;
	text-transform:uppercase;}	
.fancy_header{clear:both;padding-left:0;background: url(../images/stripes.png) repeat scroll 0 0;margin:14px 0;}

